<div class="planet-menu">
  <ul>
    <li>
      <a class="planet-menu__entry create-ship-10" href="#"><span class="title">Create 10 spaceships</span><span class="price"></span><span class="progress"></span></a>
    </li>
    <li>
      <a class="planet-menu__entry create-big-ship-1" href="#"><span class="title">Create a big spaceship</span><span class="price"></span><span class="progress"></span></a>
    </li>
    <li>
      <a class="planet-menu__entry create-big-ship-5" href="#"><span class="title">Create 5 big spaceships</span><span class="price"></span><span class="progress"></span></a>
    </li>
  </ul>
</div>
