<div class="planet-menu">
  <ul>
    <li>
      <a class="on planet-menu__entry drilling-minerals" href="#"><span class="title">Build drilling minerals machine</span><span class="price">(cost: 100M)</span><span class="progress"></span></a>
    </li>
    <li>
      <a class="planet-menu__entry upgrade-minerals" href="#"><span class="title">Upgrade drilling minerals</span><span class="price"></span><span class="progress"></span></a>
    </li>
    <li>
      <a class="on planet-menu__entry drilling-gaz" href="#"><span class="title">Build drilling gaz machine</span><span class="price">100</span><span class="progress"></span></a>
    </li>
    <li>
      <a class="planet-menu__entry upgrade-gaz" href="#"><span class="title">Upgrade drilling gaz</span><span class="price"></span><span class="progress"></span></a>
    </li>
    <li>
      <a class="planet-menu__entry create-ship-1" href="#"><span class="title">Create a spaceship</span><span class="price"></span><span class="progress"></span></a>
    </li>
  </ul>
</div>
