@import nib

global-reset()

body
  position relative
  background-color #010a1d
  font-family "courier new"
  color #010a1d

table
  font normal 12px/12px "courier new"
  letter-spacing -1.04px

#universe
  position relative
  color #fff
  overflow hidden
  height 150px
  .planet
    display none
  &.expand
    overflow auto
    height 2300px
    .planet
      display block
  

#origin
  position absolute
  width w = 108px
  height 108px
  left 50%
  margin-left - 54px
  display block !important
  .planet-menu
    left 120px
    top 10px

#collect_0
  position absolute
  width w = 209px
  height 216px
  top 500px
  left 200px
  .planet-menu
    left 220px
    top 40px

#army_0
  position absolute
  width w = 180px
  height 180px
  top 760px
  right 250px
  .planet-menu
    left -400px
    top 40px
    text-align right

#war_0
  position absolute
  width 180px
  height 180px
  top 1200px
  left 700px
  .planet-menu
    left 200px
    top 10px
  .planet-lifebar
    left 15px
    top -10px

#amelio_0
  position absolute
  width 180px
  height 180px
  top 1000px
  left 330px
  .planet-menu
    width 500px
    left 110px
    top 15px
  .planet-lifebar
    left -5px
    top -10px

#end
  position absolute
  bottom 70px
  width 1200px
  height 720px
  left 50%
  margin-left -600px
  .planet-menu
    width 600px
    right -100px
    left auto
    top 450px
  .planet-lifebar
    left 50%
    margin-left -80px
    top 400px

.planet-menu
  position absolute
  width 400px
  font-size 12px
  a
    padding 2px
    margin-bottom 5px
    color c = #d8d8d8
    display none
    text-decoration underline
    text-decoration-color c
  span
    display inline-block
    margin-right 5px

.planet-lifebar
  position absolute
  font-size 12px
  width 300px
  span
    display inline-block
  .bar
    background-color #f8f8f8
    width 100px
    height 10px
  .value
    position relative
    top -1px

#ui-end
  position fixed
  width 800px
  height 400px
  background-color #f8f8f8
  padding 10px
  left 50%
  top 50%
  margin-top -250px
  margin-left -400px
  display none
  .title
    position relative
    width 596px
    height 96px
    margin 40px auto 0
  .desc
    position relative
    width 100%
    text-align center
    margin-top 30px
  .credits
    margin-top 80px
    text-align center
    font-size 12px
  .bar--bottom
    position absolute
    bottom 10px

#avatar
  position absolute
  top 10px
  left 10px
  background-color #f8f8f8
  padding 10px

#logo
  position absolute
  width 1193px
  height 96px
  color #d8d8d8
  opacity( .25 )
  left 50%
  margin-left -600px
  top 20px
#menu
  position fixed
  background-color #f8f8f8
  bottom 0
  width 100%
  height 75px
  padding 10px

.menu__top-bar
  position relative
  top -7px
  width 99%
  overflow hidden
  margin-left -5px
  margin-bottom 5px

.menu__entries
  overflow hidden

.menu__entry
  float left

.menu__avatar
  width 500px
  height 10px

#menu__amelio
  width 250px
  visibility hidden

#menu__stats__army
  margin-left 230px
  .menu__stat
    display none

.menu__resources
  float right
  width 200px

.menu__resource
  span 
    display inline-block
  .title
    width 100px
  .value
    width 50px
    text-align right

