@import nib

global-reset()

body
  background-color #010a1d
  font-family "courier new"
  color #010a1d

table
  font normal 12px/12px "courier new"
  letter-spacing -1.04px

#universe
  position relative
  color #fff

#origin
  position absolute
  width w = 108px
  height 108px
  left 50%
  top -( w / 2 )px
  margin-left -( w / 2 )px
  .planet-menu
    left 120px
    top 10px

.planet-menu
  position absolute
  width 400px
  font-size 12px
  a
    padding 2px
    margin-bottom 5px
    color c = #d8d8d8
    display none
    text-decoration underline
    text-decoration-color c
  span
    display inline-block
    margin-right 5px


#menu
  position fixed
  background-color #f8f8f8
  bottom 0
  width 100%
  height 75px
  padding 10px

.menu__top-bar
  position relative
  top -7px
  width 99%
  overflow hidden
  margin-left -5px
  margin-bottom 5px

.menu__entries
  overflow hidden

.menu__entry
  float left

.menu__resources
  float right
  width 200px

.menu__resource
  span 
    display inline-block
  .title
    width 100px
  .value
    width 50px
    text-align right

